*{
    background: none;
    font-family: 'inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-image: url("/img//BG_ZOOM_ONE_ESP_\(1\)[1].png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: white;
}


main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: white;
    margin-top: 0px;
    text-transform: lowercase;
}

.text-area:focus {
    outline: none;
}

.mensaje{
    background: rgb(109, 186, 215);
    background-image: url("/img/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 150px;
    margin-top: -10px;
    padding-left: 20px;
    position: absolute;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar {
    background: white;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 165px;
    margin-top: 395px;
    position: absolute;
    width: 336px;
}

.informacion {
    color: white;
    font-size: 15px;
}

.titulo {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    margin-top: 5%;
    margin-left: 25%;
}

.rodapie {
    background-color: none;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0%;
}